:root{
    --lapis_lazuli: #2F6690;
    --cerulean: #3A7CA5;
    --platinum: #D9DCD6;
    --indigo_dye: #16425B;
    --sky_blue: #81C3D7;
}
body {
    background: var(--platinum);
    color: var(--indigo_dye);
}

h1{
    font-family: Tahoma, sans-serif;
    text-align: center;
    color: var(--indigo_dye);
}
.imageHolder{
    align-items: center;
    box-shadow: 3px 3px 2px var(--cerulean)
}
.card{

}